<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.replace_chrome_icns</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <!-- 絶対パス指定 -->
        <string>/Users/user-name/Applications/Chrome Apps.localized/replace_icns/replace_chrome_icns.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>2</integer> <!-- 1 = Sunday, 2 = Monday, ... -->
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
