<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.replace_chrome_icns</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <!-- 絶対パス指定 -->
        <string>/Users/user-name/Applications/Chrome Apps.localized/replace_icns/replace_chrome_icns.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <array>
        <!-- 日曜 午前3時 -->
        <dict>
            <key>Weekday</key>
            <integer>1</integer>
            <key>Hour</key>
            <integer>3</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>

        <!-- 水曜 午前3時 -->
        <dict>
            <key>Weekday</key>
            <integer>4</integer>
            <key>Hour</key>
            <integer>3</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>

    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
